.container {
    width: 1600px;
    padding-right: 131px;
    padding-left: 131px;
    margin: 0 auto;
}

.header .container {
    display: flex;
}

.navigation {
    display: flex;
}

.navigation__list {
    
    display: flex;
}

.navigation__link {
    display: block;
    margin-top: 75px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
    
}

.logo {
    margin-top: 63px;
    margin-right: 228px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #000000;
}

.logo__logo--grey-part{
    color: #939393;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
   box-sizing: border-box;
    position: absolute;
    margin-left: auto;
    width: 312px;
    height: 70px;
    left: 1157px;
    top: 55px;
    border: 2px solid #263238;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        letter-spacing: 0.03em;
    
        color: #000000;
    
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}