.hero {
    background-color: var(--accent-color);
    text-align: center;
    padding-bottom: 180px;
    padding-top: 55px;
    display: flex;
    }
  
  .hero-title {
  color: var(--main-bgd-color);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  }
  
  .hero-text {
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  width: 540px;
  height: 108px;
  }
  
  .button {  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    background-color:#263238;
    text-align: center;
    letter-spacing: 0.03em;
      align-items: center;
      width: 426px;
      height: 100px;
    
      display: inline-block;
      border-radius: 10px;
      }