@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  width: 1600px;
  padding-right: 131px;
  padding-left: 131px;
  margin: 0 auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  display: block;
  margin-top: 75px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #263238;
}

.logo {
  margin-top: 63px;
  margin-right: 228px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__logo--grey-part {
  color: #939393;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  margin-left: auto;
  width: 312px;
  height: 70px;
  left: 1157px;
  top: 55px;
  border: 2px solid #263238;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.button {
  width: 426px;
  height: 100px;
  background-color: #263238;
  border-radius: 10px;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #ca6f07;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: #ffffff;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid rgba(0, 0, 0, 0);
}

.hero {
  background-color: var(--accent-color);
  text-align: center;
  padding-bottom: 180px;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  color: var(--main-bgd-color);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-text {
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  width: 540px;
  height: 108px;
}

.button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  background-color: #263238;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 426px;
  height: 100px;
  display: inline-block;
  border-radius: 10px;
}

/* about */
:root {
  --main-color: #263238;
  --title-color: #000000;
  --skills-bg: #f5f5f5;
  --text-color: #8f95a5;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --button-color: #263238;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1368px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  justify-items: first baseline;
  width: 652px;
}

.about__title {
  font-family: Poppins, sans-serif;
  margin: 0 auto 60px 0;
  color: black;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.about__text {
  font-family: Poppins, sans-serif;
  margin: 0 auto 30px 0;
  color: #8f95a5;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 132px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__item {
  width: calc((100% - 131px) / 3);
}

.about__item__item-subtitle {
  font-family: Poppins, sans-serif;
  color: #2a3246;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.about__item__item-text {
  font-family: Poppins, sans-serif;
  color: #8f95a5;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.container {
  width: 1338px;
}

.pricing__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1, 5;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 426px;
  height: 584px;
}

.pricing-list__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: #263238;
}

.pricing-list__text {
  font-size: 20px;
  line-height: 1.5;
  color: #8f95a5;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.line {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1340px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 31px;
  padding-bottom: 86px;
}

.footer__logo {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.footer__accent {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #8F95A5;
}

.footer__item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  color: #8F95A5;
  margin-left: 80px;
}
/*# sourceMappingURL=main.css.map */